name: prebuild
on:
  push:
    branches:
      - main
jobs:
  build-base:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Buildah Base Images
        id: build-base
        uses: redhat-actions/buildah-build@v2
        with:
          image: dev-archlinux
          tags: base
          oci: true
          containerfiles: |
            base/Dockerfile
      - name: Push Base To ghcr
        id: push-base-to-docker
        uses: redhat-actions/push-to-registry@v2
        with:
          image: ${{ steps.build-base.outputs.image }}
          tags: ${{ steps.build-base.outputs.tags }}
          registry: "ghcr.io/techio-dev"
          username: "naicoi92"
          password: ${{ secrets.GH_TOKEN }}
  build-go:
    needs: [build-base]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Buildah Go Images
        id: build-go
        uses: redhat-actions/buildah-build@v2
        with:
          image: dev-archlinux
          tags: go
          oci: true
          containerfiles: |
            go/Dockerfile
      - name: Push Go To ghcr
        id: push-go-to-docker
        uses: redhat-actions/push-to-registry@v2
        with:
          image: ${{ steps.build-base.outputs.image }}
          tags: ${{ steps.build-base.outputs.tags }}
          registry: "ghcr.io/techio-dev"
          username: "naicoi92"
          password: ${{ secrets.GH_TOKEN }}
  build-nodejs:
    needs: [build-base]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Buildah NodeJS Images
        id: build-nodejs
        uses: redhat-actions/buildah-build@v2
        with:
          image: dev-archlinux
          tags: nodejs
          oci: true
          containerfiles: |
            nodejs/Dockerfile
      - name: Push Nodejs To ghcr
        id: push-nodejs-to-docker
        uses: redhat-actions/push-to-registry@v2
        with:
          image: ${{ steps.build-base.outputs.image }}
          tags: ${{ steps.build-base.outputs.tags }}
          registry: "ghcr.io/techio-dev"
          username: "naicoi92"
          password: ${{ secrets.GH_TOKEN }}
