name: prebuild
on:
  push:
    branches:
      - main
jobs:
  docker-image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up QEMU for multi-architecture builds
        uses: docker/setup-qemu-action@v3
      - name: Setup Docker buildx for multi-architecture builds
        uses: docker/setup-buildx-action@v3
        with:
          use: true
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{github.actor}}
          password: ${{ secrets.GH_TOKEN }}
      - name: Pre-build dev container base image
        uses: devcontainers/ci@v0.3
        with:
          imageName: ghcr.io/techio-dev/dev-archlinux
          push: always
          subFolder: base
      - name: Pre-build dev container go image
        uses: devcontainers/ci@v0.3
        with:
          imageName: ghcr.io/techio-dev/dev-archlinux:go
          push: always
          subFolder: go
      - name: Pre-build dev container nodejs image
        uses: devcontainers/ci@v0.3
        with:
          imageName: ghcr.io/techio-dev/dev-archlinux:nodejs
          push: always
          subFolder: nodejs
