name: prebuild
on:
  push:
    branches:
      - main
jobs:
  docker-image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{github.actor}}
          password: ${{ secrets.GH_TOKEN }}
      - name: Pre-build dev container base image
        uses: devcontainers/ci@v0.3
        with:
          imageName: ghcr.io/techio-dev/dev-archlinux
          imageTag: dev
          push: always
          subFolder: base
          noCache: true
      - name: Pre-build dev container go image
        uses: devcontainers/ci@v0.3
        with:
          imageName: ghcr.io/techio-dev/dev-archlinux
          imageTag: go
          push: always
          subFolder: go
          noCache: true
      - name: Pre-build dev container nodejs image
        uses: devcontainers/ci@v0.3
        with:
          imageName: ghcr.io/techio-dev/dev-archlinux
          imageTag: nodejs
          push: always
          subFolder: nodejs
          noCache: true
